<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Climax Resourcing</title>
    <link rel="icon" href="static/icons/favicon.png" type="image/png" sizes="16x16">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Connect Multipurpose  Landing Page Template Template">
    <meta name="keywords" content="Connect HTML Template, Connect Landing Page Template,  Landing Page Template">
    <link href="static/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900%7COpen+Sans:300,400,500" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@3.6.12/dist/css/splide.min.css">
    <link rel="stylesheet" href="static/css/animate.css"> <!-- Resource style -->
    <link rel="stylesheet" href="static/css/owl.carousel.css">
    <link rel="stylesheet" href="static/css/owl.theme.css">
    <link rel="stylesheet" href="static/css/ionicons.min.css"> <!-- Resource style -->
    <link href="static/css/stylesheet.css" rel="stylesheet" type="text/css" media="all" />
    <style>
      .dropdown-menu {
      padding: 0;
      margin: 0;
      border: 1px solid rgba(0,0,0,.15);
      border-radius: 2px;
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.05);
      -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.05);
    }
    .open>.dropdown-toggle.btn-default:focus, 
    .open>.dropdown-toggle.btn-default:hover{
      background-color: #ccc;
      border-color: #ccc;
    }
    .dropdown-menu .divider {
      height: 1px;
      margin: 8.5px 0;
      overflow: hidden;
      background-color: #efefef;
    }
    .open>.btn-default.dropdown-toggle {
        background-color: #bfcad0;
        border-color: #bfcad0;
        color: #fff
    }

    .open>.btn-default.dropdown-toggle:hover,
    .open>.btn-default.dropdown-toggle:focus,
    .open>.btn-default.dropdown-toggle:active:focus {
        background-color: #bfcad0;
        border-color: #bfcad0;
        color: #fff
    }
    </style>
  </head>
  <body class="boxed-layout">
    <div class="wrapper">
      <!-- Navbar Section -->
      <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top wt-border">
        <div class="container">
          <a class="navbar-brand" href="#">Climax Resourcing</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto navbar-right">
              <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#main">Who we are</a></li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Jobs</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/jobs#ahp">AHP</a></li>
                  <li><a class="dropdown-item" href="/jobs#doctors">Doctors</a></li>
                  <li><a class="dropdown-item" href="/jobs#nursing">Nursing</a></li>
                  <li><a class="dropdown-item" href="/jobs#midwifery">Midwifery</a></li>
                  <li><a class="dropdown-item" href="/jobs#social_care">Social Care</a></li>
                  <!--<li><hr class="dropdown-divider"></li>-->
                </ul>
              </li>
              <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#features">Services</a></li>
              <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#reviews">Reviews</a></li>
              <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/about_us">About us</a></li>
              <li><a class="btn-nav js-scroll-trigger" href="#cta">Contact Us</a></li>
            </ul>
          </div>
        </div>
      </nav><!-- Navbar End -->


      <div id="main" class="main">
        <div class="home">
          <div class="container">
            <div class="hero-content wow fadeIn">
              <div class="flex-split">
                <div class="container">
                  <div class="f-image f-image-inverted">
                    <img class="img-fluid" src="static/images/banner.png" alt="Feature">
                  </div>
                  <br>
                  <br>
                  <div class="flex-inner flex-inverted align-center">
                    <div class="f-text">
                      <div class="left-content">
                        <h4>Find the best candidates!</h4>
                        <h2>Climax Resourcing is the right choice for you</h2>
                        <a class="btn-action btn-outline nav-link js-scroll-trigger" href="#features">See More</a>
                        <a class="btn-action" href="/contact">Contact Us</a>
                      </div>
                      <p class="condition_txt">Speed and Satisfaction<br> Guaranteed</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div><!-- Hero End -->

        <!--- Find a job Section -->
        <br>
        <br>
        <br>
        <div class="containerr">
          <div class="form-containerr">
            <div class="left-containerr">
              <div class="left-inner-containerr">
              <h2>Find your dream job</h2>
              <br>
              <p id="demo"></p>
              <br>
            </div>
            </div>
            <div class="right-containerr" id="searchnow">
              <div class="right-inner-containerr">
              <form action="/search" method="POST">
                <strong><h2 class="lg-view" style="color: #383B61;">Fill in the form</h2></strong>
                <h2 class="sm-view">Find your dream job</h2>
                <div class="social-containerr">
                  <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                  <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                  <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <input type="text" placeholder="Job title / Keywords" name="keywords" id="keywords"/>
                <select placeholder="Occupation" name="occupation" id="occ">
                  <option value="" disabled selected style="color: #999;">Occupation</option>
                  <option value="ahp">AHP</option>
                  <option value="doctors">Doctors</option>
                  <option value="dental">Dental</option>
                  <option value="midwifery">Midwifery</option>
                  <option value="social_care">Social Care</option>
                  <option value="nursing">Nursing</option>
                </select>
                <select placeholder="Speciality" name="specialty" id="spec">
                    <option value="" disabled selected style="color: #999;">Specialty</option>
                </select>
                <input type="text" placeholder="Location" name="location" id="location"/>
                <br>
                <br>
                <button type="submit" onclick="storeData()">Search</button>
              </form>
              </div>
            </div>
          </div>
        </div>

        <!--- About Section -->
        <div class="yd-cat">
          <div class="container">
            <div class="cat-inner">
              <div class="cat-flex">
                <div class="cat2" style="text-align: center;">
                  <h4>How we help you find the best candidates.</h4>
                  <h2>Connect Hiring managers with talents related to the medical field</h2>
                  <p> Don't waste any more time, find the perfect candidates now!</p>
                </div>
                <div class="cat2" style="margin: auto;text-align: center;">
                  <h2>Are you an employer?</h2>
                  <p>Post a job advertisment and find the right people for your business.</p>
                  <a href="/recruit" target="blank"><button style="margin-left: 50%;">Recruit now</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>

         <!--- Categories Section -->
         <div class="container" >
          <!--<h2 style="color: #383B61;">Doctor Jobs</h2>-->
          <div class="row">
              <div class="splide">
                  <div class="splide__track" style="background-color: #f0f5f9; padding-bottom: 5px; padding-top: 5px;">
                    <div class="dropdown">
                      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: #21bf73; padding: 5px; font-family: 'Montserrat';">
                        Featured Jobs
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item"  style="color: #383B61; font-family: sans-serif;">Dental Jobs</a>
                        <a class="dropdown-item"  style="color: #383B61; font-family: sans-serif;">Doctor Jobs</a>
                        <a class="dropdown-item" style="color: #383B61; font-family: sans-serif;">Midwifery Jobs</a>
                        <a class="dropdown-item" style="color: #383B61; font-family: sans-serif;">Nursing Jobs</a>
                        <a class="dropdown-item"  style="color: #383B61; font-family: sans-serif;">Social Care Jobs</a>
                      </div>
                    </div>
                    <br>
                    <br>
                      <ul class="splide__list">
                        {% for i in features %}
                          <div class="col-sm-4 splide__slide m-2">
                              <div class="card bg-light text-white">
                                <li class="splide__slide">
                                  <div class="card-body">
                                      <h5 class="card-title" style="color: #333347; font-weight: 600;">{{i.staff_type}}</h5>
                                      <a href="/apply/{{i.id}}"><h5 class="card-title" style="color: #333347; font-weight: 600; text-transform: capitalize;">{{i.staff_type}}-{{i.specialty}}</h5></a>
                                      <br>
                                      <h6 class="card-subtitle mb-2 text-muted">job desciption</h6>
                                      <p class="card-text" style="color: black;">{{i.job_desc}}</p>
                                      <hr>
                                      <ul>
                                        <li>
                                          <a href="#" class="card-text" style="font-family: 'Montserrat'; margin-top: 10px;">{{i.location}}</a><br>
                                        </li>
                                        <li>
                                          <a href="#" class="card-text" style="font-family: 'Montserrat'; margin-top: 10px;">{{i.salary}}/{{i.salary_per}}</a><br>
                                        </li>
                                        <li>
                                          <a href="#" class="card-text" style="font-family: 'Montserrat'; margin-top: 10px;">{{i.contract_length}}</a><br>
                                        </li>
                                      </ul>
                                      <br>
                                      <br>
                                      <a href="/apply/{{i.id}}" class="btn btn-primary" style="background-color: #21bf73; font-family: 'Montserrat';">Read more</a>
                                  </div>
                                </li>
                                  <br>
                                <br>
                              </div>
                              </div>
                      {% endfor %}
                    </ul>
              </div>
          </div>
          </div>
          <br>
          <br>
          <br>
          <br>


        <!-- Features Section -->
        <div id="features" class="ft-flex">
          <div class="container">
            <div class="ft-inner align-center">
              <div class="ft-image wow">
                <img class="img-fluid" src="static/images/support.png" alt="Feature">
              </div>
              <div class="ft-text">
                <div class="ft-content">
                  <h2>Network</h2>
                  <p> Access to 12,000</p>
                  <ul>
                    <li><img src="static/icons/tick.svg" alt="Tick"> Realtime broadcasts </li>
                    <li><img src="static/icons/tick.svg" alt="Tick"> Upload and sit tight </li>
                    <li><img src="static/icons/tick.svg" alt="Tick"> View realtime stats</li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="ft-inner ft-inverted align-center">
              <div class="ft-image f-image-inverted">
                <img class="img-fluid" src="static/images/write.png" alt="Feature">
              </div>
              <div class="ft-text">
                <div class="ft-content">
                  <h2>High Definition</h2>
                  <p> When you get staright to the point the presentation looks attractive on your web pages.</p>
                  <ul>
                    <li><img src="static/icons/tick.svg" alt="Tick"> Realtime broadcast </li>
                    <li><img src="static/icons/tick.svg" alt="Tick"> View realtime stats </li>
                    <li><img src="static/icons/tick.svg" alt="Tick"> Upload and sit tight </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>


        <!-- Counter Section -->
        <div class="yd-stats">
          <div class="container-s">
            <div class="row text-center">
             <div class="col-sm-12">
                <div class="intro">
                  <h4>OUR RESULTS</h4>
                  <h2>Our awesome results worth displaying</h2>
                </div>
              </div>
              <div class="col-6 col-sm-3">
                <div class="counter-up">
                  <div class="counter-icon">
                    <img src="static/icons/f1.png" alt="Icon">
                  </div>
                   <h3><span class="counter">47</span>%</h3>
                  <div class="counter-text">
                    <h2>Mobile Users</h2>
                  </div>
                </div>
              </div>
              <div class="col-6 col-sm-3">
                <div class="counter-up">
                  <div class="counter-icon">
                    <img src="static/icons/f2.png" alt="Icon">
                  </div>
                   <h3><span class="counter">33</span>%</h3>
                  <div class="counter-text">
                    <h2>Daily Views</h2>
                  </div>
                </div>
              </div>
              <div class="col-6 col-sm-3">
                <div class="counter-up">
                  <div class="counter-icon">
                    <img src="static/icons/f3.png" alt="Icon">
                  </div>
                   <h3><span class="counter">28</span>%</h3>
                  <div class="counter-text">
                    <h2>Monthly Returns</h2>
                  </div>
                </div>
              </div>
              <div class="col-6 col-sm-3">
                <div class="counter-up">
                  <div class="counter-icon">
                    <img src="static/icons/f4.png" alt="Icon">
                  </div>
                  <h3><span class="counter">349</span>%</h3>
                  <div class="counter-text">
                    <h2>Annual Growth</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div><!-- Counter Section Ends -->


        <!-- YD Flex Grid Section -->
        <div id="reviews" class="yd_reviews">
          <div class="container">
            <div class="yd_rev_inner">
              <div class="row">
                <div class="col-md-5">
                  <div class="rev-intro">
                    <h2>Stories from our customers</h2>
                    <p> When you get staright to the point the presentation looks attractive.</p>
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="rev-list owl-carousel owl-theme">
                    <div class="rev-block">
                      <img src="static/icons/quote.svg" width="60" alt="Quote">
                      <h2>Pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. We use Climax for key for easy and seamless weekly communication with our clients and .</h2>
                      <div class="rev-client">
                        <div class="rev-icon">
                          <div class="rev-img">
                            <img class="rounded-circle" src="static/icons/rev.png" width="60" alt="Feature">
                          </div>
                        </div>
                        <div class="rev-text">
                          <h3>Marty McFly</h3>
                          <p>Head of OP, <a href="#">Future LLC</a></p>
                        </div>
                      </div>
                    </div>

                    <div class="rev-block">
                      <img src="static/icons/quote.svg" width="60" alt="Quote">
                      <h2> Pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. We use Climax for key for easy and seamless weekly communication with our clients.</h2>
                      <div class="rev-client">
                        <div class="rev-icon">
                          <div class="rev-img">
                            <img class="rounded-circle" src="static/icons/rev2.png" width="60" alt="Feature">
                          </div>
                        </div>
                        <div class="rev-text">
                          <h3>Dr. Strange</h3>
                          <p>CTO, <a href="#">Arma Systems</a></p>
                        </div>
                      </div>
                    </div>

                    <div class="rev-block">
                      <img src="static/icons/quote.svg" width="60" alt="Quote">
                      <h2>We use Climax for key for easy and seamless weekly communication with our clients. Pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</h2>
                      <div class="rev-client">
                        <div class="rev-icon">
                          <div class="rev-img">
                            <img class="rounded-circle" src="static/icons/rev3.png" width="60" alt="Feature">
                          </div>
                        </div>
                        <div class="rev-text">
                          <h3>John Kennedy</h3>
                          <p>Manager Sales, <a href="#">Optima Corp</a></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Faq Section -->
        <div id="faqs" class="yd_faqs">
          <div class="container">
            <div class="faq_inner">
              <div class="col-md-10 offset-md-1">
                <div class="faq_intro">
                  <h2>Frequently Asked Queries</h2>
                  <p>Pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</p>
                  <h5>Still have questions?</h5> <a class="link-btm" href="#">Contact us</a>
                </div>
                <div id="accordion">
                  <div class="row">
                    <div class="col-md-6 custompadding">
                      <div class="card mb-0">
                        <div class="card-header collapsed" data-toggle="collapse" href="#collapseOne">
                          <a class="card-title">What is Climax?</a>
                        </div>
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                          <div class="card-body">
                            <p>Leggings occaecat craft beer farm-to-table, raw denim aesthetic
                              synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 custompadding">
                      <div class="card mb-0">
                        <div class="card-header collapsed" data-toggle="collapse" href="#collapseTwo">
                          <a class="card-title">How much does template cost?</a>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                          <div class="card-body">
                            <p>Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic
                              synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 custompadding">
                      <div class="card mb-0">
                        <div class="card-header collapsed" data-toggle="collapse" href="#collapseThree">
                          <a class="card-title">How can updates be downloaded?</a>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                          <div class="card-body">
                            <p>Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic
                              synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 custompadding">
                      <div class="card mb-0">
                        <div class="card-header collapsed" data-toggle="collapse" href="#collapseFour">
                          <a class="card-title">Some other Support related queries.</a>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                          <div class="card-body">
                            <p>Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div><!-- Faq Section End -->



        <div id="cta" class="yd_cta_box">
          <div class="container">
            <div class="cta_box">
              <div class="cta_box_inner">
                <div class="col-sm-12 col-md-12">
                  <h4>start your trial</h4>
                  <h2>Climax is made just for you. Ready to build your next project?</h2>
                  <div class="form">
                    <form id="chimp-form" class="subscribe-form" action="assets/php/subscribe.php" method="post" accept-charset="UTF-8" enctype="application/x-www-form-urlencoded" autocomplete="off" novalidate>
                      <input class="mail" id="chimp-email" type="email" name="email" placeholder="Enter email address" autocomplete="off"><input class="submit-button" type="submit" value="Sign Up">
                    </form>
                   <div id="response"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div> <!-- Main -->
              <!-- Footer -->
              <div class="footer">
                <div class="container">
                  <div class="row text-center">
                    <div class="col-lg-2 col-md-3 col-sm-12">
                      <div class="footer-logo">
                        <h2>C O N N E C T.</h2>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                      <ul class="footer-menu">
                        <li><a href="/about_us">About</a> </li>
                        <li><a href="/privacy">Privacy</a> </li>
                        <li><a href="/terms">Terms</a> </li>
                        <li><a href="/cookies">Cookies</a> </li>
                        <li><a href="/capacity_project">Capacity projects</a> </li>
                        <li><a href="/support">24h support</a> </li>
                        <li><a href="/temp_staff">Staffing Solutions</a> </li>
                        <li><a href="/contact">Contact</a> </li>
                      </ul>
                    </div>
                    <div class="col-lg-4 col-md-3 col-sm-12">
                      <div class="footer-links">
                        <ul>
                          <li><a href="#main"> <img class="img-fluid" src="static/icons/i1.png" alt="Icon"> </a> </li>
                          <li><a href="#main"> <img class="img-fluid" src="static/icons/i2.png" alt="Icon"> </a> </li>
                          <li><a href="#main"> <img class="img-fluid" src="static/icons/i3.png" alt="Icon"> </a> </li>
                          <li><a href="#main"> <img class="img-fluid" src="static/icons/i4.png" alt="Icon"> </a> </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <!-- Scroll To Top -->
                    <a id="back-top" class="back-to-top js-scroll-trigger" href="#main"></a>
                <!-- Scroll To Top Ends-->
                </div>
              </div>
    </div><!-- Wrapper -->


    <!-- Jquery and Js Plugins -->
    <script src="../static/js/jquery-2.1.1.js"></script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/jquery.validate.min.js"></script>
    <script src="../static/js/plugins.js"></script>
    <script src="../static/js/custom.js"></script>
    <script src="../static/js/typing.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@3.6.12/dist/js/splide.min.js"></script>
    <script src="../static/js/options.js"></script>
    <script>
            var splide = new Splide('.splide', {
                type: 'loop',
                perPage: 3,
                rewind: true,
                breakpoints: {
                    640: {
                        perPage: 2,
                        gap: '.7rem',
                        height: '16rem',
                    },
                    480: {
                        perPage: 1,
                        gap: '.7rem',
                        height: '16rem',
                    },
                },
            });
            splide.mount();
    </script>
    <script>
      function storeData() {
        var keywords = document.getElementById("keywords").value;
        var occupation = document.getElementById("occ").value;
        var speciality = document.getElementById("spec").value;
        var location = document.getElementById("location").value;

        localStorage.setItem("keyword", keywords);
        localStorage.setItem("occupation", occupation);
        localStorage.setItem("speciality", speciality);
        localStorage.setItem("location", location);
      }
    </script>
  </body>
</html>
